In [4]:
# import modules

import pandas as pd
import re
from datetime import datetime

In [5]:
# input patient's ID number from your Excel database

patient_No=input("Enter patient's ID No: ")

Enter patient's ID No: 1218

In [6]:
# input patient's text message with home BP readings

BP_text_str=input("Enter patient's text message with BP readings: ")

Enter patient's text message with BP readings: 04.11.2020 12:00 72/54 79 04.11.2020 15:00 72/55 73 05.11.2020 10:00 87/50 68 05.11.2020 11:00 83/59 78 05.11.2020 12:00 85/49 78 05.11.2020 13:00 79/55 106 05.11.2020 13:20 79/58 105

In [7]:
print("Patient: "+ patient_No)
print("BP readings: "+ BP_text_str)

Patient: 1218
BP readings: 04.11.2020 12:00 72/54 79 04.11.2020 15:00 72/55 73 05.11.2020 10:00 87/50 68 05.11.2020 11:00 83/59 78 05.11.2020 12:00 85/49 78 05.11.2020 13:00 79/55 106 05.11.2020 13:20 79/58 105

In [8]:
# extract numbers from BP_text_str

numbers_BP_text_str=re.findall('[0-9]+', BP_text_str)
print(numbers_BP_text_str)

['04', '11', '2020', '12', '00', '72', '54', '79', '04', '11', '2020', '15', '00', '72', '55', '73', '05', '11', '2020', '10', '00', '87', '50', '68', '05', '11', '2020', '11', '00', '83', '59', '78', '05', '11', '2020', '12', '00', '85', '49', '78', '05', '11', '2020', '13', '00', '79', '55', '106', '05', '11', '2020', '13', '20', '79', '58', '105']

In [9]:
# converting list of strings to int using list comprehension

numbers_BP_text = [int(i) for i in numbers_BP_text_str]
print(numbers_BP_text)

[4, 11, 2020, 12, 0, 72, 54, 79, 4, 11, 2020, 15, 0, 72, 55, 73, 5, 11, 2020, 10, 0, 87, 50, 68, 5, 11, 2020, 11, 0, 83, 59, 78, 5, 11, 2020, 12, 0, 85, 49, 78, 5, 11, 2020, 13, 0, 79, 55, 106, 5, 11, 2020, 13, 20, 79, 58, 105]

In [10]:
# divide by new line
# I use list comprehension instead of writing a function, 
# though it's a good idea to encapsulate operations like this in named functions
# so that your code is easier to understand. 

numbers_BP_text_byline=[numbers_BP_text[i:i + 8] for i in range(0, len(numbers_BP_text), 8)]
print(numbers_BP_text_byline)

[[4, 11, 2020, 12, 0, 72, 54, 79], [4, 11, 2020, 15, 0, 72, 55, 73], [5, 11, 2020, 10, 0, 87, 50, 68], [5, 11, 2020, 11, 0, 83, 59, 78], [5, 11, 2020, 12, 0, 85, 49, 78], [5, 11, 2020, 13, 0, 79, 55, 106], [5, 11, 2020, 13, 20, 79, 58, 105]]

In [11]:
# list of lists to dataframe -numbers_BP_text_byline

BPs_snippet_full=pd.DataFrame(numbers_BP_text_byline)
BPs_snippet_full.head()

   0   1     2   3  4   5   6   7
0  4  11  2020  12  0  72  54  79
1  4  11  2020  15  0  72  55  73
2  5  11  2020  10  0  87  50  68
3  5  11  2020  11  0  83  59  78
4  5  11  2020  12  0  85  49  78

In [12]:
#add column 'ID' with patient_No
BPs_snippet_full['ID']=patient_No

BPs_snippet_full.head()

   0   1     2   3  4   5   6   7    ID
0  4  11  2020  12  0  72  54  79  1218
1  4  11  2020  15  0  72  55  73  1218
2  5  11  2020  10  0  87  50  68  1218
3  5  11  2020  11  0  83  59  78  1218
4  5  11  2020  12  0  85  49  78  1218

In [13]:
# name all columns 

BPs_snippet_full.columns=['day', 'month', 'year', 'hour', 'minute', 'sBP', 'dBP', 'pulse', 'ID']

In [14]:
BPs_snippet_full.head()

   day  month  year  hour  minute  sBP  dBP  pulse    ID
0    4     11  2020    12       0   72   54     79  1218
1    4     11  2020    15       0   72   55     73  1218
2    5     11  2020    10       0   87   50     68  1218
3    5     11  2020    11       0   83   59     78  1218
4    5     11  2020    12       0   85   49     78  1218

In [40]:
 #in DataFrame change d/m/y/h/min to Timestamp in date.time format. 

BP_Timestamp= pd.to_datetime(BPs_snippet_full[['year', 'month', 'day','hour', 'minute']])

BP_Timestamp
BPs_snippet_full['']=Timestamp

NameError: name 'Timestamp' is not defined

In [39]:
# add column Timestamp to df


BPs_snippet_full['timestamp']=Timestamp

NameError: name 'Timestamp' is not defined

In [36]:
#drop columns and order new columns

BPs_snippet_full.drop(columns=['year', 'month', 'day','hour', 'minute'])

     ID  sBP  dBP  pulse
0  1218   72   54     79
1  1218   72   55     73
2  1218   87   50     68
3  1218   83   59     78
4  1218   85   49     78
5  1218   79   55    106
6  1218   79   58    105

In [37]:
BPs_snippet_full.columns= ['ID',[BP_Timestamp],'sBP', 'dBP', 'pulse']

ValueError: Length mismatch: Expected axis has 9 elements, new values have 5 elements

In [20]:
# reorder DF placing ID column in front by:
# 1.creating list of columns names

cols = BPs_snippet_full.columns.tolist()
cols

# 2.placing ID column first. Rearrange cols in any way you want. This is how I moved the last element to the first position:

cols = cols[-1:] + cols[:-1]
cols

BPs_snippet_full=df = BPs_snippet_full[cols]

In [21]:
BPs_snippet_full

     ID  day  month  year  hour  minute  sBP  dBP  pulse
0  1218    4     11  2020    12       0   72   54     79
1  1218    4     11  2020    15       0   72   55     73
2  1218    5     11  2020    10       0   87   50     68
3  1218    5     11  2020    11       0   83   59     78
4  1218    5     11  2020    12       0   85   49     78
5  1218    5     11  2020    13       0   79   55    106
6  1218    5     11  2020    13      20   79   58    105

In [ ]:
# append the snippet to the main BP_database

In [ ]:
# execute the whole code at one go