In [24]:
import pandas as pd
import datetime as dt

# modify csv file putting column names in the first row
# note that integers cannot have coma separators (removed them by formating number differently)

#STEPS has been recorded in STEPS directory pay attention on the syntax in brackets 
steps=pd.read_csv(r'C:\Users\ciuqu\PYTHON\PYTHON-SCRIPTS\STEPS\steps_csv.csv')
steps

     PARTICIPANT        DATE  STEPS
0          Ali C  14/06/2020   2875
1          Elisa  14/06/2020   9747
2        Chris C  14/06/2020  11402
3      Annabelle  14/06/2020  11588
4         Tricia  14/06/2020  12939
...          ...         ...    ...
1669     Chris C  31/12/2020  10688
1670       Stacy  01/01/2021   4981
1671     Chris C  01/01/2021  11106
1672       Stacy  02/01/2021  13380
1673     Chris C  02/01/2021  14417

[1674 rows x 3 columns]

In [25]:
steps.columns
steps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1674 entries, 0 to 1673
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PARTICIPANT  1674 non-null   object
 1   DATE         1674 non-null   object
 2   STEPS        1674 non-null   int64
dtypes: int64(1), object(2)
memory usage: 39.4+ KB

In [26]:
# change 'PARTICIPANT' column to string
# change 'DATE' column to datetime

steps['PARTICIPANT'].astype(str)
steps['DATE'] = pd.to_datetime(steps['DATE'])
steps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1674 entries, 0 to 1673
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PARTICIPANT  1674 non-null   object
 1   DATE         1674 non-null   datetime64[ns]
 2   STEPS        1674 non-null   int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 39.4+ KB

In [28]:
# df['weekday'] = df['Timestamp'].dt.dayofweek
steps['weekday']= steps['DATE'].dt.dayofweek
steps

     PARTICIPANT       DATE  STEPS  weekday
0          Ali C 2020-06-14   2875        6
1          Elisa 2020-06-14   9747        6
2        Chris C 2020-06-14  11402        6
3      Annabelle 2020-06-14  11588        6
4         Tricia 2020-06-14  12939        6
...          ...        ...    ...      ...
1669     Chris C 2020-12-31  10688        3
1670       Stacy 2021-01-01   4981        4
1671     Chris C 2021-01-01  11106        4
1672       Stacy 2021-02-01  13380        0
1673     Chris C 2021-02-01  14417        0

[1674 rows x 4 columns]