In [7]:
import pandas as pd

# modify csv file putting column names in the first row

#STEPS has been recorded in STEPS directory pay attention on the syntax in brackets 
steps=pd.read_csv(r'C:\Users\ciuqu\PYTHON\PYTHON-SCRIPTS\STEPS\STEPs_csv.csv')
steps

     PARTICIPANT        DATE   STEPS
0          Ali C  14/06/2020   2,875
1          Elisa  14/06/2020   9,747
2        Chris C  14/06/2020  11,402
3      Annabelle  14/06/2020  11,588
4         Tricia  14/06/2020  12,939
...          ...         ...     ...
1669     Chris C  31/12/2020  10,688
1670       Stacy  01/01/2021   4,981
1671     Chris C  01/01/2021  11,106
1672       Stacy  02/01/2021  13,380
1673     Chris C  02/01/2021  14,417

[1674 rows x 3 columns]

In [6]:
steps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1764 entries, 0 to 1763
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Ali C       1673 non-null   object
 1   14/06/2020  1673 non-null   object
 2   2,875       1673 non-null   object
dtypes: object(3)
memory usage: 41.5+ KB